html {
  font-size: 112.5%;
  font-family: georgia, serif;
  line-height: 1.5;
  box-sizing: border-box;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  margin-bottom: 1em;
}

pre {
  background: rgba(0, 0, 0, 0.05);
  padding: 1em;
  white-space: pre-wrap;
}
