html {
  font-size: 112.5%;
  font-family: georgia, serif;
  line-height: 1.5;
  box-sizing: border-box;
  background: rgb(35, 35, 37);
  color: rgb(229, 225, 216);
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  margin-bottom: 1em;
}

pre {
  padding: 1em;
  white-space: pre-wrap;
  background: rgba(128, 0, 0, 0.5);
}

pre > code {
  background: transparent;
}

code {
  background: rgba(128, 0, 0, 0.5);
}

a {
  color: rgb(71, 145, 230);
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  text-align: center;
  font-size: smaller;
  margin-top: 0.3rem;
}
