:root {
  --color-primary: rgba(0, 0, 0, 0.85);
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgba(255, 255, 255, 0.85);
    --background-color: rgb(35, 35, 37);
  }
}

html {
  font-size: 112.5%;
  font-family: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  color: var(--color-primary);
  background: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

a {
  color: rgb(82, 130, 255);
  text-decoration: none;
}

a:active,
a:hover {
  color: rgb(63, 87, 153);
}

@media (prefers-color-scheme: dark) {
  a {
    color: rgb(98, 146, 255);
  }

  a:active,
  a:hover {
    color: rgb(133, 168, 255);
  }
}

body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  margin-bottom: 1em;
}

pre {
  padding: 1em;
  white-space: pre-wrap;
  background: rgba(50, 128, 50, 0.5);
}

pre > code {
  background: transparent;
}

code {
  background: rgba(50, 128, 50, 0.4);
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  text-align: center;
  font-size: smaller;
  margin-top: 0.3rem;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.6em;
  }
}
